@model Usuario
@{
    ViewData["Title"] = "Exclusão de registro";
}

<h1 class="row justify-content-md-center">Exclusão de Registro</h1>
<H2>Deseja excluir o Registro? de @Model.Nome (@Model.Login)?</H2>


<form action="Excluir" method="post">
    <input type="hidden" name="id" value="@Model.Id">

      <button type="submit" name="decisao" value="n">Não</button>
      <button type="submit" name="decisao" value="s">Sim</button>
</form>

