@model List<Usuario>

<h1>Usuários cadastrados no sistema</h1>

<p class="text-danger">@ViewData["Mensagem"]</p>

@if (Model.Count == 0) {
    
<h1> nenhum registro encontrado </h1>

}

else { 

<table class="table">
    <thead>
        <tr >
            <th scope="row">Nome</th>
            <th scope="row">Login</th>
            <th scope="row">Tipo</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Usuario u in Model)
        {
        <tr>
            <td>@u.Nome</td>
            <td>@u.Login</td>
            @if(u.Priority==Usuario.ADMIN)
            {
                <td>Administrador</td>
            }
            else
            {
                <td>Padrão</td>
            }
            
            <td><a href="editarUsuario/@u.Id">editar</a></td>
            <td><a href="Excluir/@u.Id">excluir</a></td>
        </tr>
        }
    </tbody>
    </table> 

<a href="registrarUsuarios">Registrar novo usuário</a>
}
    

    
